:root {
  --darkred: darkred;
}

table,
th,
tr,
td {
  border: 1px solid var(--darkred);
}

th,
td {
  padding: 5px;
}

#table {
  color: var(--darkred);
}

.heading {
  background-color: var(--darkred);
  color: var(--white);
  text-align: left;
}

tr:hover {
  background-color: rgba(139, 0, 0, 0.2);
}
