* {
  font-family: sans-serif;
  font-size: 1.5em;
  text-align: center;
}

.flex-item {
  width: 200px;
  height: 200px;
  background-color: purple;
  color: white;
  margin: 10px;
  padding: 10px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}
