* {
  font-family: sans-serif;
  font-size: 1.5em;
  text-align: center;
}

.flex-item {
  width: 200px;
  height: 200px;
  background-color: purple;
  color: white;
  margin: 10px;
  padding: 10px;
}

.flex-container {
  display: flex;
  align-items: center;
}

.item1,
.item3,
.item6 {
  height: 300px;
}

.item2,
.item8 {
  height: 400px;
}
