* {
  font-family: sans-serif;
  font-size: 1.5em;
  text-align: center;
}

.grid-item {
  background-color: purple;
  color: white;
  padding: 10px;
}

.grid-container {
  height: 95vh;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
  grid-template-rows: 1fr 3fr 3fr;
  gap: 10px;
}

.item8 {
  grid-column: span 2;
}
