* {
  font-family: sans-serif;
  font-size: 1.5em;
  text-align: center;
}

.grid-item {
  background-color: purple;
  color: white;
  padding: 10px;
}

.grid-container {
  height: 95vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  grid-template-rows: 1fr 4fr;
  gap: 10px;
  margin: 20px;
}
