* {
  font-family: sans-serif;
  font-size: 1.5em;
  text-align: center;
}

.grid-item {
  background-color: purple;
  color: white;
  padding: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 2fr 1fr 1fr;
  gap: 10px;
  margin: 20px;
}

.item1 {
  grid-row: span 2;
}

.item6 {
  grid-column: span 2;
}
