* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 0 10px;
}

h1,
h3 {
  color: green;
}

div {
  color: #333;
  font-size: larger;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
}

footer > p {
  margin: 1em;
}
